{% extends 'learnings/base_learnings.html' %}
{% block actual_content %}
    <div class="row m20">
        <div class="col-lg-12">
            <h3>Notes on Jobs to Be Done Framework</h3>
        </div>
    </div>
    <div class="row m20">
        <div class="col-lg-12">
            <p>
                At the beginning of 2016, my startup, SharpScholar, was going through tumultuous times. We were
                attempting to pivot around in the classroom teaching and enrichment industry. From an engineering
                perspective I was having trouble coping with constant pivoting with strategy and sought out alternate
                approaches to business development.
            </p>
            <p>
                This is when I came across the Jobs To Be Done Framework. In particular, I came across the version by <a
                    href="https://strategyn.com/customer-centered-innovation-map/" target="_blank">Tony Ulwick</a> the
                founder of StrategyN. Below are my notes on JTBD and one approach about how to apply it:
            </p>
            <ul>
                <li><p>Failing fast and pivoting are ineffective as they are essentially trying find unmet needs through
                    solutions - what about problem interview approach through lean canvas?</p></li>
                <li><p>Know the 15 unmet needs of the market upfront</p></li>
                <li><p>Research so deep that the solution is pretty apparent</p></li>
                <li><p>Segment the market around unmet needs:</p>
                    <ul>
                        <li><p>Don't segment around behaviour, age, etc.</p></li>
                        <li><p>What is a need? How do you define a need?</p></li>
                        <li><p>Desire to outcome needs</p></li>
                        <li><p>Need statements shouldn't have the solution or process ideas</p></li>
                    </ul>
                </li>
                <li><p>Job Map</p></li>
                <li><p>Break down jobs into steps
                <li><p>Each step will have a desire outcome to be measured
                <li><p>Define jobs in a functional way (not emotional that is the job of sales and marketing)</p></li>
                <li><p>Identifying Unmet Needs Metrics</p>
                    <ul>
                        <li><p>Functional metrics</p></li>
                        <li><p>Financial metrics</p></li>
                        <li><p>Consumption change metrics</p>
                            <ul>
                                <li><p>Maintaining, Upgrade, etc.</p></li>
                            </ul>

                        <li><p>Who has those has those metrics?</p>
                            <ul>
                                <li><p>Functional:</p>
                                    <ul>
                                        <li><p>Teacher</p></li>
                                    </ul>
                                </li>
                                <li><p>Functional:</p>
                                    <ul>
                                        <li><p>Students? Teacher?</p></li>
                                        <li><p>Administrators?</p></li>
                                    </ul>
                                </li>
                                <li><p>Consumption Metrics:</p>
                                    <ul>
                                        <li><p>IT Administrators</p></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><p>Opportunity = Importance - 2*Satisfaction or Opportunity = Importance + max(Importance –
                    Satisfaction,
                    0)</p></li>
                <li><p>Purchase and Buying purposes are different</p></li>
                <li><p>Purchase process is emotional, don't let that affect the product</p>
                    <ul>
                        <li><p>Except in terms of perception as functional value</p></li>
                    </ul>
                <li><p>Personas:</p>
                    <ul>
                        <li><p>Different process, market segment != Different needs</p></li>
                        <li><p>Focus on people who struggle more getting the same job done</p></li>
                        <li><p>Use as a use case</p></li>
                    </ul>
                </li>
                <li><p>Apple: 20% market size - 90% profit size</p></li>
                <li><p>Find underserved large needs for people who will pay</p>
                    <ul>
                        <li><p>Eg. Specific type of specialty jobs such as a specific type of surgery for surgeons</p>
                        </li>
                    </ul>
                </li>

                <li><p>The job not the product is the unit of analysis:</p>
                    <ul>
                        <li><p>The outcome of the individual job are the units of metric</p></li>
                        <li><p>The algorithm of evaluation is: Opportunity = Importance + max(Importance – Satisfaction,
                            0)
                        </p></li>
                    </ul>
                </li>
                <li><p>After identifying the opportunity innovation happens through one of the following six:</p>
                    <ul>
                        <li><p>Add features to an existing platform to help customers get the core job done better.</p>
                        </li>
                        <li><p>Add features to an existing platform to help customers get one or more related jobs
                            done.</p></li>
                        <li><p>Create a new platform to help customers get the core job done better and/or cheaper.</p>
                        </li>
                        <li><p>Create a new platform to help customers get the core job better and also get one or more
                            related
                            jobs
                            done.</p></li>
                        <li><p>Create a new platform that enables a new job executor to execute the core job.</p></li>
                        <li><p>Create a new platform that enables a new job executor to execute the core and related
                            jobs</p></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
