{% extends 'learnings/base_learnings.html' %}
{% block actual_content %}
    <div class="row m20">
        <div class="col-lg-12">
            <h3>Building Products People Love</h3>
        </div>
    </div>
    <div class="row m20">
        <div class="col-lg-12">
            <p>
                <strong>Core Value Proposition:</strong>
            </p>
            <p>
                Clear and precise value proposition that the business is going to test. Should allow you to find a niche
                but large enough market.
            </p>
            <p>
                <strong>Product Roadmapping:</strong>
            </p>
            <ul>
                <li><p>Translate value proposition to product imperatives - guidelines for the product. Try to keep
                    approximately five imperatives. Quantitative metrics are better.</p></li>

                <li><p>Create a mega list of features/ideas.</p></li>

                <li><p>2-12 Innovations each quarter -> start with up to fifty items to choose from. Minus bugs</p></li>

                <li><p>Put in flash cards - and divide into big, medium, small -> resolve contentions by yellow stickers
                    or
                    just put into bigger pile.</p></li>

                <li><p>Prioritize each list.</p></li>

                <li><p>Green sticker for anything that must happen. Data + value proposition to have discussions.</p>
                </li>

                <li><p>Conclude with outcomes + possible list of not now but later.</p></li>
            </ul>
            <p>
                <strong>Development Flow:</strong>
            </p>

            <ul>
                <li><p>Gather data - > outline options -> pros and cons (very few things such as hard facts)</p></li>
                <li><p>Don’t try to be perfect</p></li>
                <li><p>Make engineers want to solve the problem one why or another: clear any and all obstacles from
                    their
                    path that prevent it</p></li>
                <li><p>3-5 teams:</p></li>
                <li><p>A story is a brief description of something you want to ship to users. A story includes all the
                    details an engineer needs in order to make smart decisions about how to implement it. This includes
                    design assets and written specs outlining how the feature should work.</p>
                    <ul>
                        <li><p>This can be at a feature level</p></li>
                        <li><p>Stand on its own</p></li>
                        <li><p>Can be delivered to QA and Tested</p></li>
                        <li><p>Can be sent to users</p></li>
                    </ul>
                </li>
                <li><p>Plans made and presented by Thursday before the two week sprint</p></li>
                <li><p>Bugs and Marketing should be part of this sprint planning and have stories as well</p></li>
                <li><p>Allows you to perfect existing systems</p></li>
                <li><p>Trello for managing ideas and sprints + story tracking</p></li>
                <li><p>Every two-three sprints reflect back on the larger scale roadmap</p></li>
                <li><p>Review current stories in progress</p></li>
                <li><p>Ask, elaborate and answer any questions during the story</p></li>
                <li><p>Give points to each story: 0: 30 mins, 1: 1-2 hrs, 2: one day, 4: 2-3 days, 8: much longer
                <li><p>Can use stories as exploration points (max one day) to discover how a story could be presented
                    (e.g.
                    peer review)</p></li>
                <li><p>Work out about half implementation details in meeting</p></li>
                <li><p>Product oriented implementation</p></li>
                <li><p>Coordinate team specialists before hand so that people who need to be in on the decision are and
                    well
                    aware</p></li>
                <li><p>Team should continue considering stories until it feels it can finish it by two week (with 80%
                    confidence)</p></li>
                <li><p>Daily Standups are key</p></li>
                <li><p>If there are major blocks, good , but discuss them informally after</p></li>
                <li><p>Pair programming if challenging problem, explicit knowledge share, onboarding, or architectural
                    decision making</p></li>
                <li><p>Rotation of coding areas to share and have multiple people with varying expertise.</p></li>
                <li><p>Replacements (swapping stories of equal points) should be kept to a minimal.</p></li>
                <li><p>Continuous deployment should be limited to stories - manager should waterfall the stories</p>
                </li>
                <li><p>Full confidence before QA</p></li>
                <li><p>Retrospective meeting - 45 mins to decide what went well, and what needs improvement</p></li>
                <li><p>For 30 minute meeting:</p>
                    <ul>
                        <li><p>10 minute presentation of an issue/problem/question/solution;</p></li>
                        <li><p>17 minutes for discussion;</p></li>
                        <li><p>3 minutes to define clear action points and owners of these action points.</p></li>
                    </ul>
                </li>
                <li><p>Friday afternoon for discussing new frameworks, blogs, etc.</p></li>
            </ul>

            <p><strong>Design Flow</strong></p>
            <ul>
                <li><p>thinking about what it will take for the engineers to build this feature</p></li>
                <li><p>thinking about how other future features will interact with this feature</p></li>
                <li><p>thinking about how these styles will hold up over time</p></li>
                <li><p>thinking about how their work will be applied across many platforms.</p></li>
                <li><p>Design sprint is similar with its own stories</p></li>
                <li><p>Major Project:</p>
                    <ul>
                        <li><p>Research</p></li>
                        <li><p>Wireframe</p></li>
                        <li><p>Visual Options</p></li>
                        <li><p>Refinement</p></li>
                        <li><p>User Testing</p></li>
                        <li><p>Delivery</p></li>
                    </ul>
                <li><p>Each day at 2-3pm design and marketing options are review</p></li>
                <li><p>For New Features: <a href="https://www.usertesting.com/">User Testing</a></p></li>
                <li><p>Click Through Designs</p></li>
                <li><p>Email Based User Surveys</p></li>
                <li><p>Each two week retrospectives</p></li>
                <li><p><a
                        href="https://medium.com/@ConnectBasket/75-awesome-tools-for-designers-d136d11de436#.zavxvj7st">User
                    Testing</a></p></li>
            </ul>

            <p><strong>Data Flow</strong></p>
            <ul>
                <li><p>If you want a true barometer of the health of your product organization, take a hard look at how
                    you
                    collect, think about, and use data. - Aaron Schildkrout</p></li>
                <li><p>Build smallest MVP for each feature</p></li>
                <li><p>Most times wait for significant enough data prior to making decisions</p></li>
                <li><p>Database Analytics are King</p></li>
                <li><p>Linked to real users</p></li>
                <li><p>Centralize database and provide dashboards</p></li>
                <li><p>Try to avoid conflict testing (same features around the same time)</p></li>
                <li><p>Avoid silly or tests that will not generate enough data</p></li>
                <li><p>Through long term impact of decsisions before executing on short term gains</p></li>
                <li><p>Avoid debt from tests (especially technical debt if it was quick dirty implementation)</p></li>
            </ul>
        </div>
    </div>
{% endblock %}
