{% extends "base.html" %}
{% block content %}
	<div class="row m20">
		<div class="col-lg-12">
			<h3>Me in 10 seconds</h3>
		</div>
	</div>
	<div class="row m20">
		<div class="col-lg-12">
			<p>I'm a programmer, data dabbler, product manager, enterprenuer and student - though not in that order.</p>

			<p>Currently managing the product for my second startup, <a target="_blank" href="www.sharpshcolar.com">SharpScholar</a>.</p>

			<p>My interests include building systems and processes, building a product, philosophy (especially concepts such as morality, humility, and character). Currently, I am working on adding writing to that list</p>

			<p>Fairly introverted. However, I now realize introverted doesn't mean unempathetic or self-centered. <a target="_blank" href="http://typelogic.com/intj.html">Myers Briggs - INTJ</a>.</p>
			
			<p>From India. I now live in Toronto, Canada.</p>
		</div>
	</div>
	<div class="row">
      <div class="col-lg-12">
        <hr>
      </div>
    </div>
    <div class="row m20">
		<div class="col-lg-12">
			<h3>What I'm doing now</h3>
		</div>
	</div>
	<div class="row m20">
		<div class="col-lg-12">
	
			<p>Inspired by: <a target="_blank" href="https://sivers.org/now">https://sivers.org/now</a></p>
			
			<h4>Current Projects</h4>
			<ul>
				<li>
					<p><a target="_blank" href="https://www.sharpscolar.com">SharpScholar</a> — Build an teaching platform for teachers to personalize their lessons for their classes.</p>
				</li>
				<li>
					<p>FireAvert - a small attachement to a stove that would cut off power on hearing the smoke alarm.</p>
				</li>
				<li>
					<p><a target="_blank" href="https://test.out-adventures.com">OutAdventures</a> - Freelance project to rebuild <a target="_blank" href="https://out-adventures.com">this</a> to a complete redesign.</p>
				</li>
			</ul>
			

			<h4>Building Habits</h4>

			<ul>
				<li>
					<p><a target="_blank" href="#">Writing</a> - attempting to write for atleast 10 minutes everyday</p>
				</li>
				<li>
					<p>Workout - everyday - 25 pull ups, 50 pushups, 50 squats (35lb dumbells)</p>
				</li>
			</ul>			
		</div>
	</div>
	<div class="row">
      <div class="col-lg-12">
        <hr>
      </div>
    </div>
	<div class="row m20">
		<div class="col-lg-12">
			<h3>Contact</h3>
		</div>
	</div>
	<div class="row m20">
		<div class="col-lg-12">
			<p>Please email me at <a href="mailto:tejasmehta0@gmail.com">tejasmehta0@gmail.com</a> for any reason. I reply to all, and much prefer email over social networks.</p>
		</div>
	</div>
{% endblock %}