{% extends "base.html" %}
{% block content %}
    <div class="row m20">
        <div class="col-lg-12">
            <h2>Learnings</h2>
        </div>
    </div>

    <div class="row m20">
        <div class="col-lg-12">
            <h3>Product Management</h3>
        </div>
    </div>

    <div class="row m20">
        <div class="col-lg-12">
            <ul>
                <li>
                    <p>Product Management: <a href="{% url 'learnings_detail' 'systems-for-products-people-love' %}">Systems
                        and Processes to build products people love</a></p>
                </li>
            </ul>
        </div>
    </div>

    <div class="row m20">
        <div class="col-lg-12">
            <h3>Philosophy</h3>
        </div>
    </div>

    <div class="row m20">
        <div class="col-lg-12">
            <ul>
                <li>
                    <p><a href="http://bulletin.kenyon.edu/x4280.html">This is water - David Foster Wallace</a></p>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
