{% extends 'writings/base_writings.html' %}
{% block actual_content %}
<div class="row m20">
	<div class="col-lg-12">
		<h3>Kindness</h3>
	</div>
</div>
<div class="row m20">
	<div class="col-lg-12">
		<p>
		In his book Walden Thoreau has a passage which says "Anyone can help another in the during their worse time, but true kindness is when you help someone in their best times". He goes on to compare how a dog would help someone in need if it see that someone needs help, so if we only help people when we see them in need then we are truly no better than dogs. At this point I had to take a pause and really reflect on what was being said.</p>

		<p>For me kindness was simply the act of going out of your way to help someone if you notice that they need help. Even this is often difficult to do when I am tied up in my own internal monologue. So for Thoreau to say that this was just the baseline of kindness I was a bit indignant. My believe that this baseline was the ultimate kindness had been reinforced by seeing people not willing to help even if they notice someone needs it. Further I realized that we are not really even as kind as dogs if we can't meet the basic form of kindness. So in order to become truly kind human beings we must go beyond simply helping people when we think they need. We must look to help one another even if we don't think they need it.
				</p>
	</div>
</div>
{% endblock %}