{% extends 'writings/base_writings.html' %}
{% block actual_content %}
<div class="row m20">
	<div class="col-lg-12">
		<h3>Modulating Intensity</h3>
	</div>
</div>
<div class="row m20">
	<div class="col-lg-12">
		<p>
		When you dial down the intensity why do you feel dumber? After a few weeks of not meditating I restarted the practice this morning with the Headspace app. I haven't been feeling overwhelmed but just wanted to give meditation another go. It was really calming and throughout the day I felt quite at peace. However, near end of the evening I got a surge of anxiety of under performing. I hadn't, but I had much fewer thoughts in my head through out the day. It felt as if the lack of thoughts and  monologues meant that I hadn't worked hard enough today. I suppose that I will get over that feeling as a get back into rhythm with meditation. My anxiety made me go back into the thinking mode, but as expected that didn't not make me happy. </p>

		<p>I will be trying Headspace mediation #2 tomorrow for sure to achieve the calm I felt today. Yet I don't think the point of mediation is simply to achieve calmness. I think it is achieve a form of control over our thinking. I believe it can help me better direct and operate my thinking more efficiently. My thoughts reminded me of a quote by Naval Ravikant: "The trick for me now has become how to dial up and down my intensity". I totally resonate with this as sometimes I too intense or too morose.</p>
	</div>
</div>
{% endblock %}