{% extends 'writings/base_writings.html' %}
{% block actual_content %}
<div class="row m20">
	<div class="col-lg-12">
		<h3>Polarized Point of View</h3>
	</div>
</div>
<div class="row m20">
	<div class="col-lg-12">
		<p>
		Recently I listened to a podcast by Joe Rogan and Sam Harris. I found it quite intriguing as both while pushed each other's point of views intellectually. Joe Rogan's points on a lot of subjects of war on terror, islamaphopia, and America's role in the war were neutral, while Sam's, as always, were quite polarized. As the podcast went along, it became harder and harder for me to listen as Sam was essentially being politely pummeled by Joe's neutrality. It was like boxing match with Sam on the ropes. I realized when you have polar point of views it becomes much harder to argue because you have to get the other person fundamentally on your side. Your arguments have to be air tight, with little to no room for factual errors as it quickly weakens your stance. I am personally a fan on Sam Harris' work spirituality, but not of his stance on Islam as its too complex for me to make a stance on without extensive research.</p>

		<p>Seeing Sam's arguments break down was enlightening as I am often an advocate of being drawing a line in the sand. I like to stand for things and be firm with my beliefs. However, as more and more I heard his arguments being pulled apart, I realized that when you stand for something it has to be backed by a fully thought out logic. You must question every angle of your own assumptions. Use the Socratic method to question your own thinking and that is the only way you will arrive at a possible stance. Until you have a chance to question your beliefs and assumptions, you have to be open to change to listen to alternate point of views. Having firm stances and polarized ideas can be fundamental to change and innovation, but unless backed by a fully articulated thought process they can be delusional.</p>
	</div>
</div>
{% endblock %}