{% extends 'projects/base_projects.html' %}
{% block actual_content %}
    <div class="row m20">
        <div class="col-lg-12">
            <h3>What I did at SharpScholar</h3>
        </div>
    </div>
    <div class="row m20">
        <div class="col-lg-12">
            <p>
                My official title at SharpScholar was CTO. Like many startups this is the default role that
                inexperienced technical co-founders take on. Now I know that this was the wrong job title, though that
                didn't really impact the work I did. At a high level, I took on two key roles: Product Manager and Full
                Stack Developer. Remember, all this is in hindsight. When I first decided to this, my approach was far
                more simplistic and surface level. I saw a team with a sense of an idea that need a technical lead to
                execute.
            </p>

            <p>
                For the majority of the first three months, I just worked on developing the software. Using my
                reasonably
                honed skill to get shit done, I was able to hack together what was essentially a minimum viable product.
                My team was then able to push this product out to various universities and professors and thus begin the
                cycle of learning about product management, development, marketing, and business. While a lot of the
                business
                lessons learnt at SharpScholar came as result of being the education field, a lot of the product side
                learns happened in a broader sense.
            </p>

            <p>
                As time went by and the product became more stable, time came for me to grow beyond a full stack
                developer. I now was in a position to give the product a sense of direction. And there were many
                possibilities. From analytics, to mashware, to personalized learning, to peer learning we had many
                possible directions we could have gone in. As such my role in the company evolved into one that I was
                quite unfamiliar with but one I relished.
            </p>

            <p>
                At this stage of the company, I was able to better articulate what my responsibilities were:
            </p>

            <ul>
                <li>
                    <p>Set the vision for the product as the company evolves. Translate the abstract vision of
                        “Empowering
                        scholars around the world” to meaningful and understandable short term and long term visions.
                        Champion where
                        the product will go as a result.</p>
                </li>
                <li>
                    <p>Translate user market research, sales reports, and user behaviour into tangible set of
                        specifications of
                        product features, goals and visions.
                    </p>
                    <ul>
                        <li>
                            <p>Top Level: Long Term and Short Term Product Vision</p>
                        </li>
                        <li>
                            <p>Middle Level: Monthly product roadmap and associated set of projects</p>
                        </li>
                        <li>
                            <p>Bottom Level: Weekly updates to the team</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Software Development</p>
                </li>
                <li>
                    <p>Quality Assurance</p>
                </li>
                <li>
                    <p>Security</p>
                </li>
                <li>
                    <p>Data Analytics on User Behaviour</p>
                </li>
            </ul>
            <p>Of course my focus depended highly on what the startup needed at the time. If the product was coming
                under fire due to technical issues, I would put on my Software developer/QA hat and get to coding.
                If there was some breathing space, then I would start looking to build process and systems that would
                allow me to understand users better, set product roadmaps, and plan/execute for the future.
            </p>

            <p>
                In theory this approach works well but it suffered in multiple ways. First, it was an unfocused and
                reactive approach. No software is bug free, especially one built by one developer with minimal
                experience. I was constantly reacting to fires rather than building the company I wanted to be building.
                As soon as I gained some momentum in setting direction, I would be called away to solve existing issues.
                As such this result in considerable mental fatigue, leading to the second issue. Since I was acting as
                both the product manager and developer, I was often unable to keep the two separate. For instance,
                instead of fully specing a feature and understanding the story behind it I would jump into coding and
                try to get it done. Even more so, I should have been able to see the technical debt that was being built
                up as a result. Failing to balance the two roles and viewpoints, caused me to perform both of them
                poorly.
            </p>

            <p>
                As I write this series of posts to breakdown SharpScholar, I aim to build up insights on how to
                potentially do it better. I have recently read <a target="_blank"
                                                                  href="http://www.fastcolabs.com/3015920/open-company/unblocked-a-guide-to-making-things-people-love-part-1">Systems
                and processes to build products people love</a> and look forward to using my experience to create a
                process I will take moving forward.
            </p>
            <p style="text-align: right"><a href="#">Part 2: Defining SharpScholar - the product</a></p>
        </div>
    </div>
{% endblock %}
